body{
  background-color: white;
}
#homepage{
  width: 100%;
  height: 50%;
}
#vendorbackground{
  width: 100%;
  height: auto;
  z-index: 1;
}
#thankwords{
  margin-left: 10%;
  margin-right: 40%;
  margin-top: 10%;
  padding-right: 20px;

  font-size: 3em;
  position: absolute;
  z-index: 2;
}
what the hell
